.discount{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:bisque;
    .discount_text{
        padding: 12px;
        h2{
            font-size: 28px;
            span{
                font-size: 18px;
            }
        }
    }
}