.hero_section {
    margin-top: 100px;

    .section {
        display: flex;
        align-items: center;
        justify-content: center;

        .heading {
            font-size: 72px;
            font-weight: bold;

        }
    }


}